html, body {
    margin: 0px;
    padding: 0px;
    background-image: url("background.png");
}

@font-face {
  font-family: "NintendoU";
  src: url('NintendoU.ttf') format('truetype');
}

body {
  ...
}
...

#mii-info {
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(50,50,50,0.5);
    border: 2px solid rgba(50,50,50,0.8);
    height: 64px;
}

#mii-info #mii-image {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: block;
}

#remote {
    padding: 8px;
    border: solid 1px blue;
    position: fixed;
    bottom: 0;
    right: 0;
}

#mii-info #mii-name {
    font-size: 18px;
    display: block;
    color: white;
    margin-top: -46px;
    margin-left: 72px;
}

.navbuttons {
    position: fixed;
    top: 242px;
}

.favstring {
    position: fixed;
    top: 380px;
	left: 16px;
	font-size: 22px;
	font-family: "NintendoU";
	color: FFFFFF;
    text-shadow: 1px 1px #000000;
}

.tvstring {
    position: fixed;
    top: 380px;
	left: 184px;
	font-size: 22px;
	font-family: "NintendoU";
	color: FFFFFF;
    text-shadow: 1px 1px #000000;
}

.moviestring {
    position: fixed;
    top: 380px;
	left: 297px;
	font-size: 22px;
	font-family: "NintendoU";
	color: FFFFFF;
    text-shadow: 1px 1px #000000;
}

.sportstring {
    position: fixed;
    top: 380px;
	left: 429px;
	font-size: 22px;
	font-family: "NintendoU";
	color: FFFFFF;
    text-shadow: 1px 1px #000000;
}

.tagstring {
    position: fixed;
    top: 380px;
	left: 557px;
	font-size: 22px;
	font-family: "NintendoU";
	color: FFFFFF;
    text-shadow: 1px 1px #000000;
}

.remotebtn {
    width: 42px;
    height: 42px;
}

#miiverse img {
    height: 42px;
    width: 42px;
}

#miiverse {
    position: fixed;
    top: 0;
    right: 0;
}
